<header class="header">
  <div class="header__bar_row">
   
    <h1 class="grid-6_name"><a href="/">Bookshelf</a></h1>
    <div class="header">
    </div>    
  </div>
</header>
    


<div class="shelf">
  <div class="contents-row">
    <% @books.each do |book| %>
      <div class='item'>
        <ul class="name">
          <% if book.id != 0%>
            <div class="content_post" >
              <li class="list">
                <%= book.title %>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
