body {
  background-color: #CCFFCC;
}

ul {
  padding: 0;
  list-style-type: disc;
}
 
li {
  padding: 0 10px 10px 10px;
  font-size: 18px;
  font-weight: bold;
  float: left;
  writing-mode: tb-rl;
  writing-mode: vertical-rl; 
  -moz-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

.item {
  margin: 0.5vw;
  border: medium solid rgb(0, 0, 0);
  width: 12vw;
  height: auto;
  background-color: rgb(246, 253, 255);
}

.name {
  min-height: 25vh;
  padding: 5px;
  white-space: nowrap;
  overflow: scroll;
}

.contents-row {
  width: 100vw;
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header__bar_row {
  display: flex;
}

.header_right {
  display: flex;
  margin: 1vw;
  width: auto;
  height: 5vw;

}

.user_nav_grid-6 {
  color: red;
  background-color: white;
  padding: auto 1;
}

.grid-6 {
  color: red;
  background-color: white;
}

.container {
  margin-top: 15vh;
}